docker {
    enabled = true
    runOptions = '--platform linux/amd64' // has containers emulate amd64 - only use this when running amd64 containers on arm64 (using arm64 containers directly is preferred)
}
profiles {
    test {

        params.input = "${projectDir}/data/reads/ENCSR000COQ1_1.fastq.gz"
        params.hisat2_index_zip = "${projectDir}/data/genome_index.tar.gz"
        params.genome_fasta = "${projectDir}/data/genome.fa"
        params.genome_gtf = "${projectDir}/data/genome.gtf"
        // params.input = "${projectDir}/data/samplesheet.csv"
        // params.reference = "${projectDir}/data/ref/ref.fasta"
        // params.reference_index = "${projectDir}/data/ref/ref.fasta.fai"
        // params.reference_dict = "${projectDir}/data/ref/ref.dict"
        // params.intervals = "${projectDir}/data/ref/intervals.bed"
        // params.cohort_name = "family_trio"
    }
}
